.main-page {
    background:  transparent url(../img/main-wallpaper.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
}
h3 {
   color: #000000;
   font-family: 'Merriweather', serif; font-size: 30px; font-weight: 300; line-height: 40px; margin: 0 30px 40px; text-align: center; text-shadow: #2a8d7b -1px -1px; }
#response {
  border-radius: 25px;
  background: #ebebe0;
  border-style: outset;
  width: 90%;
  background-color: #f2f2f2;

}
.bgimg {
    background: url('../img/talerz_pusty.jpg') no-repeat center;
}
.recipe-list, div.recipe-list {
   margin-left: auto;
   margin-right: auto;
   text-align: auto;
}
.center {
    margin-right: auto;
    margin-left: auto;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
.likes{
    position: relative;
    left: 80%;
    bottom: 80%;
}
